.cardContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

}
 .cardImgContent {


  img {
    border-radius: 100px;
    width: 211px;
    height: 197px;
  }
 }

 .cardDescription {
  margin-left: 15px;
 }